[Unit]
Description=A DynDNS client written in go
Wants=network-online.target
After=network-online.target nss-lookup.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/dyngo
StandardOutput=append:/var/log/dyngo.log

[Install]
WantedBy=multi-user.target
